header {
    margin-bottom: 1rem;
}

.label {
    display: flex;
    justify-content: center;
}

.main_title {
    padding: 0.25rem 6rem;
    background-color: rgb(218, 165, 33);
    border-radius: 0 0 20px 20px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
}